@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background: linear-gradient(rgb(0 0 0 / 66%), rgb(0 0 0 /63%)),
    url("https://pixabay.com/photos/moon-full-moon-sea-sky-night-sky-2762111/");

  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
